<h1>Books#create</h1>

<%= form_with model: @books, local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
  </div>
  <div>
    <%= form.label :release %><br>
    <%= form.datetime_field :release %><br>
  </div>
  <div>
    <br>
    <%= form.submit %><br>
  </div>
<% end %>
